main {
    display: flex;
    background-color: #fcfcfc;
    height: 100vh;
    width: 100vw;
}

.gradient {
    background-image: linear-gradient(180deg, #5CA4A7 0%, rgba(45, 225, 232, 0.66) 86.46%);
    min-height: 100vh;
    height: 100%;
    width: 30vw;
    min-width: 500px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
.cadastro-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    min-width: 300px;
    min-height: 100%;
}
article{
    background-color: #fcfcfc;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 50%;
}
article h3{
    margin-bottom: 40px;
}
article input{
    font-size: 18px;
    margin: 10px 0;
}
.group-label{
    display: flex;
}
.group-label input{
    margin-right: 5px;
}
.checkbox-group{
    display: flex;
    align-items: flex-start;
    margin: 5px 0;
}
.checkbox-group input{
    margin: 5px 10px 0 0;
}
.checkbox-group p{
    margin: 0;
}
.button-group{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.button-group button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 30px;
}
.button-group button p{
    margin: 0;
}
.btn-voltar{
    background-color: #fcfcfc;
    color: #5CA4A7;
    border: 2px solid #5CA4A7;
    border-radius: 10px;
}
#btn-proximo{
    background-color: #5CA4A7;
    color: #fcfcfc;
    border: 2px solid #5CA4A7;
    border-radius: 10px;
}
@media(max-width: 1000px){
    .gradient{
        display: none;
    }
    main{
        background-image: linear-gradient(180deg, #5CA4A7 0%, rgba(45, 225, 232, 0.66) 86.46%);
    }
    .cadastro-container{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}