.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 27%;
    color: white;
    z-index: 0;
}
.gradient {
    background-image: linear-gradient(180deg, #5CA4A7 0%, rgba(45, 225, 232, 0.66) 86.46%);
    min-height: 100%;
    min-width: 100%;
    position: fixed;
}
.box h1{
    background-image: linear-gradient(to bottom, #21E9F1, #C8FAFC, #D9D9D9);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.box h3{
    margin-bottom: 30px;
    text-align: center;
}
.inputBox{
    position: absolute;
    left: 20%;
}
.inputUser{
    font-size: 18px;
    margin: 10px 0;
    border: #5CA4A7 2px solid;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}
.inputUser:focus{
    outline: none;
    border: #5CA4A7 2px solid;
}
.group-label{
    display: flex;
}
.group-label input{
    margin-right: 5px;
}

.button-group{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.button-group button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 30px;
}
.button-group button p{
    margin: 0;
}

.btn-voltar{
    background-color: #fcfcfc;
    color: #5CA4A7;
    border: 2px solid #41bfc4;
    border-radius: 10px;
}
.btn-voltar:hover{
    background-color: #41bfc4;
    color: #fcfcfc;
}
.btn-entrar{
    background-color: #41bfc4;
    color: #fcfcfc;
    border: 2px solid #41bfc4;
    border-radius: 10px;
}
.btn-entrar:hover{
    background-color: #fcfcfc;
    color: #5CA4A7;
}
.box a{
    position: absolute;
    left: 28%;
    letter-spacing: 1px;
    color: #fcfcfc;
    text-decoration: none;
}