.principal {
  padding-top: 80px;
  margin-left: 10%;
  flex-direction: column;
}

.especialistas {
  border: 2px solid;
  border-color: #21e9f1;
  border-radius: 60px;
  margin-bottom: 15px;
  width: 70%;
  display: flex;
}
.especialistas img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}
.especialistas h4 {
  margin-left: 25%;
  color: #41bfc4;
}

h2 {
  color: #1e8285;
  text-decoration: underline #62c3c6;
}
#icon-user {
}
.active {
  color: #f49197;
  font-weight: 600;
}
a:hover {
  cursor: pointer;
}
#modal-sair {
  position: fixed;
  display: none;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.sair-container {
  background-color: #fcfcfc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 40%;
  box-shadow: 0px 0px 8000px 0px rgba(0, 0, 0, 0.24);
}
.sair-container header {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #41bfc4;
  align-items: center;
  justify-content: center;
}
.sair-container header img {
  width: 30px;
  margin: 0 20px;
}
.sair-container header img:hover {
  cursor: pointer;
}
.sair-container header span {
  width: 30px;
  margin: 0 20px;
}
.sair-content {
  margin: 10px;
}
.sair-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.sair-buttons button {
  width: 200px;
  height: 50px;
  margin: 0 10px;
}
main {
  padding-top: 70px;
  display: flex;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 25%;
  min-height: calc(100vh - 72px);
  border: 1px solid black;
}
.header-profile {
  width: 100%;
  height: 100px;
  background-image: url("https://64.media.tumblr.com/e0ab4934a49403b5d8a64692863870f8/bf8867182e2bad08-96/s1280x1920/9db94b7889dcf8fea0da4f791e74a37eeed14096.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
}
.header-profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 50px;
}
.profile-content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.profile-content .group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.group div {
  display: flex;
  align-items: center;
}
.group div img {
  margin-right: 10px;
}
.home-content {
  padding: 40px;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rate-card {
  display: flex;
  width: 80%;
  border: 1px solid black;
  border-radius: 60px;
  margin: 20px 0;
}
.rate-picture {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10;
}
#josue {
  background-image: url("https://thumbs.dreamstime.com/b/homem-novo-com-cabelo-encaracolado-e-cara-da-barba-34164391.jpg");
}
#mariana {
  background-image: url("https://thumbs.dreamstime.com/b/adolescente-afro-americano-da-menina-da-ra%C3%A7a-misturada-com-dentes-perfeitos-84668442.jpg");
}
.rate-content {
  margin: 10px;
  width: calc(100% - 120px);
  display: flex;
  flex-direction: column;
}
.rate-header {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
h3 {
  text-align: center;
}
h4 {
  font-size: 20px;
}
